@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:400,600,700,800,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Crimson Pro', serif;
}

body {
    background-color: rgb(75, 69, 103);
}

header>h1 {
    background-color: beige;
    padding: 30px;
    text-align: center;
    font-size: 3rem;
}

.form-container {
    background-color: antiquewhite;
    width: 50%;
    margin: 20px auto;
    padding: 30px;
}

.form-container>h3 {
    font-size: 1.9rem;
    padding-bottom: 20px;
}

form {
    font-size: 1.5rem;
}

.name,
.email,
.age {
    width: 50%;
    margin: 0 auto;
}

.input {
    height: 35px;
    padding: 13px;
    margin: 6px;
    width: 60%;
    font-size: 16px;
}

fieldset {
    margin-top: 15px;
    margin-bottom: 15px;
}

fieldset>legend {
    text-align: center;
}

fieldset>p {
    padding: 12px;
    width: 30%;
    margin-left: 25%;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}
.comment{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}